# docker-compose.yml
version: "3.9"

services:
  rpt-api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    environment:
      - RPT_ENV=prod
    restart: unless-stopped
